<section class="banner " style="background-image: url({{ page.image }})">
<div class="main cf">
<div class="banner-content">
<p><span style="color: #738f93"></span></p>
<h1 style="color: #ffffff">{{ page.title }}</h1>
<p style="color: #ffffff">{{page.description}}</p>

{% if learn_more == 1 %}
<p><a class="button" href="{{page.url}}">Learn More</a></p>
{% endif %}

</div>
<div class="inbox-message">
<p>{{ page.slogan1 }}<br/>{{ page.slogan2 }}</strong></p>
<form action="" id="mktoForm_1689"></form>
</div>
</div>
</section>