<!--            <nav class="navigation pagination" role="navigation">
                <div class="nav-links">                
                    <!-- <span class="prev page-numbers disable"></span><span aria-current='page' class='page-numbers current'>1</span><a class='page-numbers' href='https://blog.hackerrank.com/page/2/?h_r=home&#038;h_l=header'>2</a><a class='page-numbers' href='https://blog.hackerrank.com/page/3/?h_r=home&#038;h_l=header'>3</a><span class="page-numbers dots">&hellip;</span><a class='page-numbers' href='https://blog.hackerrank.com/page/37/?h_r=home&#038;h_l=header'>37</a><span class="next page-numbers"></span>                </div> -->
            </nav>
-->


<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination"> 
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="webjeda">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}                        
