<!doctype html>
<html lang="en-US">
{% include head.html %}
<!-- HEAD --->

<body class="home blog wp-custom-logo hfeed">

<div class="wrapper">
	<!-- Header Starts Here -->
{% include header.html %}	
	<!-- Header Ends Here -->
	
	
	<!-- Banner Starts Here -->
{% include banner.html %}		
	<!-- Banner Ends Here -->	
	
	
<section class="container">
<div class="main">
	{{ content }}
</div>
</section>

<!-- FOOTER HERE -->
{% include footer.html %}
</div>

<script type='text/javascript' src='{{ site.url }}/assets/js/navigation.js'></script>
<script type='text/javascript' src='{{ site.url }}/assets/js/menu.js'></script>
<script type='text/javascript' src='{{ site.url }}/assets/js/general.js'></script>

</body>
</html>
